<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <meta name="+viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
</head>
<body>
    <div class="container mx-auto px-0 max-w-full font-sans flex flex-col">
        <%- include('../partials/header', {title: title}) %>
        <main class="flex flex-col justify-center align-center -my-60">
            <h1 class="text-white text-6xl mx-auto"><%= heading %></h1>
            <div class="w-1/2 bg-white mx-auto rounded-lg flex flex-col shadow-lg my-12">
                <ul class="flex flex-row justify-between align-center rounded-lg bg-gray-100 h-16">
                    <li class="flex flex-row justify-center align-center text-[#02208A] hover:bg-gray-300 hover:rounded-t-lg hover:text-sky-500 cursor-point basis-1/4
                            <% if(selectedTab === 'Convert'){ %>
                                    selected
                                <% } %>"></li>
                    <a class="m-auto" href="/convert">Convert</a></li>
                    <li class="flex flex-row justify-center align-center text-[#02208A] hover:bg-gray-300 hover:rounded-t-lg hover:text-sky-500 cursor-point basis-1/4
                            <% if(selectedTab === 'Send' ? ){ %>
                                    selected
                                <% } %>"></li>
                    <a class="m-auto" href="/send">Send</a></li>
                    <li class="flex flex-row justify-center align-center text-[#02208A] hover:bg-gray-300 hover:rounded-t-lg hover:text-sky-500 cursor-point basis-1/4
                            <% if(selectedTab === 'Charts' ){ %>
                                    selected
                                <% } %>"></li>
                    <a class="m-auto" href="/charts">Charts</a></li>
                    <li class="flex flex-row justify-center align-center text-[#02208A] hover:bg-gray-300 hover:rounded-t-lg hover:text-sky-500 cursor-point basis-1/4
                            <% if(selectedTab === 'Alerts' ){ %>
                                    selected
                                <% } %>"></li>

                    <a class="m-auto" href="/alerts">Alerts</a></li>
                </ul>
                <div class="flex flex-col justify-center align-center p-4 main-widget-body">
                    <%- body %>
                </div>
            </div>
            <% if(trays) { %>
                <%- include(trays.body), {...trays.params} %>
            <% } %>
        </main>
    </div>
    <%- include('../partials/footer_scripts') %>
</body>
</html>